body {
  margin-top: 80;
  background-color: #f3f3f3;
  background-image: url('https://images.unsplash.com/photo-1536420124392-79a70082fbe5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Zm9yZXN0JTIwcm9hZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

/*  GLOBAL STYLING */

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 5px;
  line-height: 1;
}

a {
  color: #337152;
  text-decoration: none;
  font-weight: 400;

}

a:hover {
  color: #86b59e;
  text-decoration: none;
  cursor: pointer;
}



/* NAVBAR */

.navbar {
  color: white;
  position: fixed;
  display: flex;
  vertical-align: middle;
  justify-content: right;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 0px;
  padding-right: 20px;
  height: 60px;
  text-align : right;
}

.nav-link {
  color: white;
  font-weight: 400;
  margin-top: 16px;
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  letter-spacing: 1.5px;
}

.nav-link:hover {
  color: #86b59e;
  cursor: pointer;
}

.avatar {
  width: 30px;
  height: 30px;
  margin-top: 12px;
  margin-right: 0;
  border: 0;
  border-radius: 50%;
  background-color: #86b59e;
}



/* LOG IN FORM */

.login-card {
  background-color: #ffffff;
  margin:auto;
  margin-top:100px;
  width: 360px;
  border: 0px solid;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo-image {
  display: flex;
  max-width: 40%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 5px;
}

.input-field {
  width: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  border: 1px solid;
  border-color: #dddddd;
  border-radius: 4px;
  font-size: 12px;
}

.input-field:hover,
.input-field:active,
.input-field:focus,
.input-field:focus-visible,
.input-field:focus-within {
  border-color: #337152;
}

.create-acc-link {
  font-size: 11px;
  text-align: center;
  padding-bottom: 14px;
}

.errors {
  text-align: center;
  font-size: 15px;
  color:crimson;
  margin: 0;
}



/*  BUTTONS  */

.button {
  color: white;
  background-color: black;
  width: 100%;
  margin-top: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 0px solid;
  border-radius: 4px;
  font-size: 12px;
}

.button:hover {
  background-color: #337152;
  cursor: pointer;
}



/*  HOME PAGE */

.home-page{
  background-color: white;
  margin-top: 74px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 460px;
  border: 0px solid;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.greeting{
  text-align: center;
}

.subheading{
  padding-top: 10px;
}



/* USER CARD */

.user-card {
  background-color: #ffffff;
  width: 360px;
  padding-left: 6px;
  border: 0px solid;
  border-radius: 4px;
}

.user-form {
  display: flex;
  justify-content: left;
  align-items: left;
  padding-bottom: 20px;
}

.logo-image {
  display: flex;
  max-width: 40%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 5px;
}

.user-input-field {
  width: 436px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  border: 1px solid;
  border-color: #dddddd;
  border-radius: 4px;
  font-size: 12px;
}

.input-field:hover,
.input-field:active,
.input-field:focus,
.input-field:focus-visible,
.input-field:focus-within {
  border-color: #337152;
}

.create-acc-link {
  font-size: 11px;
  text-align: center;
  padding-bottom: 14px;
}

.errors {
  text-align: center;
  font-size: 15px;
  color:crimson;
  margin: 0;
}



/* CREATE USER CARD */

.create-user-card {
  background-color: #ffffff;
  margin:auto;
  margin-top:100px;
  width: 360px;
  border: 0px solid;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.create-user-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.create-input-field {
  width: 320px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  border: 1px solid;
  border-color: #dddddd;
  border-radius: 4px;
  font-size: 12px;
}

.create-input-field:hover,
.create-input-field:active,
.create-input-field:focus,
.create-input-field:focus-visible,
.create-input-field:focus-within {
  border-color: #337152;
}

.back-link {
  font-size: 11px;
  text-align: center;
  padding-bottom: 14px;
}